.mainDiv {
  border: 1px solid black;
  width: 300px;
  height: 370px;
  margin-bottom: 15px;
}
.avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}
.Top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.text {
  font-size: 0.8em;
}
